body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#searchbarcontainer{
  margin-left: 50px;
  width:38%;
  height: 60%;
  display: flex;
  font-size: unset;
}
#searchbar{
  width:100%;
  height:100%;
  font-size: 1rem;
  padding-left: 20px;
  border-radius: 4px;
  text-decoration: none;
}

.products_slider::-webkit-scrollbar {
  display: none;

}
.products_slider:hover{
  cursor: pointer;

}
.product_detail_img_conatiner{
  width: 454px;
  height: 448px;
  /* display: flex; */
  margin-left: 20px;
}
.product_detail_img{
  width:390px;
  height: 448px;
  align-items: center;
  background-color: #FAF8F7;
}
.btn_addtocart{
  /* display: flex; */
  width:390px;
  /* justify-content: center; */
  /* align-items: center; */
}


.btn_addtocart button {
  font-size: 1rem;
  font-weight: 600;
  color: white;
}
.item_desc{
  color: #212121;
  font-size: 18px;
  font-weight: 500;
  display: contents; 
}
.item_desc span{
  padding: 0;
  line-height: 1.4;
  font-size: inherit;
  font-weight: inherit;
  display: inline-block;  
}
.review_span{
  font-size: 0.7rem;
  margin-bottom: 3.2px;
}